# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Android Studio files
captures/
.externalNativeBuild/
.cxx/
local.properties

# OS-specific files
.DS_Store
Thumbs.db

# Kotlin files
.kotlin/

# Mobile specific files
*.ap_
*.apk
*.dex

# Log files
*.log

# Temp files
*.tmp
*.temp
